.container {
	width: 100%;
	font-style: 
}

.jumbotron {
	background-color: #0000A0! important;
	text-align: center;
	color: white! important;
}

.panel-heading {
	background-color: #0000A0! important; 
	color: white! important;
}

.form-group {
	width: 1100px;
}

/*Added by Corey*/

.article {
	border: 2px black solid;
}